/* ==========================
   NAVBAR
========================== */

.bg-darkgreen {
    background: #0c3526 !important;
}

/* Navbar */
.navbar {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
    min-height: 70px;
    transition: all .3s ease;
}

/* Logo */
.navbar-brand img {
    height: 65px !important;
    width: auto;
}

/* Menu */
.custom-nav-link {
    color: #ffffff !important;
    opacity: 0.85;
    font-weight: 500;
    transition: all .3s ease;
}

.custom-nav-link:hover {
    color: #ffc107 !important;
    opacity: 1;
}

.custom-nav-link.active {
    color: #ffffff !important;
    opacity: 1;
    font-weight: 700;
}

/* Sign In */
.btn-signin {
    background-color: transparent !important;
    color: #ffffff !important;
    border: 1px solid rgba(255,255,255,.6) !important;
    border-radius: 8px !important;
    padding: 8px 18px !important;
}

.btn-signin:hover {
    background-color: #ffffff !important;
    color: #0c3526 !important;
}

/* Register */
.btn-register {
    background-color: #ffc107 !important;
    color: #0c3526 !important;
    border: none !important;
    border-radius: 8px !important;
    padding: 8px 18px !important;
    font-weight: 600;
}

.btn-register:hover {
    background-color: #ffcd39 !important;
    color: #0c3526 !important;
}